body {
	font-family: akkurat;
	background-color: lightgrey;
	width: 1000px;
	
}


h1 {
	font-size: 28px;
	color :red;
	margin-bottom:40px;
	margin-top: 40px; 
	margin-left: 250px;		
}

h2 {
	font-size:20px;
	margin-bottom:40px;
	margin-top: 40px; 
	margin-left: 250px;	

}

.author {
	width:200px;
	float:right;
}

.matthew_barney {
	max-width: 200px;
}

p {
	margin-bottom: 20px;
}

.col_1 {
	color: black;
	width: 45%;
	display:inline-block;
	float: left;
	margin-left: 200px;
	padding-right: 20px;

	
}


.col_2 {
	color: black;
	margin-left: 200px;
	width: 45%;
	display:inline-block;
	float: left;
	
}

.p4 {
	font-weight: bold;
}

.fired {
	margin-left: 0px;
	max-width: 50px;
	float: left;
}

.fire {
	max-width: 200px;
}
