body {
	font-family: akkurat;
	background-color: lightgrey;
	
}


h1 {
	font-size: 28px;
	color :red;
	margin-bottom:40px;
	margin-top: 40px; 
	margin-left: 75px;		
}

h2 {
	font-size:20px;
	margin-bottom:40px;
	margin-top: 40px; 
	margin-left: 75px;	

}


p {
	margin-top: 40px; 
	width: 600px;
	margin-left: 75px;
	margin-bottom: -10px;
}

.p4 {
	margin-bottom: 50px;
}

div {
	 float: right;
 padding-right: 200px;
 padding-bottom: 30px;
 padding-left: 100px;

}

.matthew_barney {

 max-height: 200px;

}

.fire {
	max-height: 200px;
	max-width: 200px;
	padding-top: 10px;
}

a {
	color:blue;
	float: right;
	margin-bottom: 100px;
	margin-right: 200px;
	margin-top: 20px;
}

.p4 {
	font-weight: bold;
}

