body {
	background-color:	lightgrey;
	font-family: silom;
	font-size: 50px;
}



.left, .right {
	height: 100vh;
	width: 50vw;
	position: fixed;
	overflow: scroll;
	top:0px;
}

.left {
left:0px;

}

.right {
right:0px;
}

.paradise {
	color: green;
}



.repo {
	max-width: 90vh;
}

